<header>
    <div class="container">
      <h1 class="logo">CourtCase</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          
          <li><a href="/cases">Cases</a></li>
          <li><a href="/lawyers">Lawyers</a></li>
          <li><a href="/acts">Act & Rules</a></li>
          <li><a href="/templates">Template</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Signup</a></li>
        </ul>
      </nav>
    </div>
  </header>
  