<div class="sidebar-container">
    <div class="sidebar" id="sidebar">
        <div class="sidebar-content">
            <h2 class="menu-title">MENU</h2>
            <ul>
                <li class="icons">
                    <a href="/dashboard">
                        <img src="icons/home-icon.svg" class="icon">
                        <span class="menu-text">Dashboard</span>
                    </a>
                </li>
                <li class="icons">
                    <a href="/usercases">
                        <img src="icons/search-icon.svg" class="icon">
                        <span class="menu-text">Search Cases</span>
                    </a>
                </li>
                <li class="icons">
                    <a href="/law">
                        <img src="icons/law-book-icon.svg" class="icon">
                        <span class="menu-text">Act & Rules</span>
                    </a>
                </li>
                <li class="icons">
                    <a href="/lawyer">
                        <img src="icons/lawyer-icon.svg" class="icon">
                        <span class="menu-text">Lawyer</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
