<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login Page</title>
  <link rel="stylesheet" href="../styles/login.css" />
</head>
<body>
  <h1 id="title"> Welcome to CourtCase</h1>
  <div class="login-container">
    <h2 title="login">Login</h2>
    <form action="#" method="post">
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Username" required />
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" required />
      <label for="remember-me">
            <h6 ><a href="forgotpassword.ejs">Forgot Password</a></h6>
      
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>
