* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
  }
  
  .container {
    display: flex;
    height: 100%;
    width: 100%;
  }
  
 
  
  /* === MAIN CONTENT STYLES === */
  .content {
    flex-grow: 1;
    background-color: #f4f4f4;
    padding: 20px;
    transition: margin 0.3s ease;
    position: relative;
  }
  
  
  
  h1 {
    margin-top: 60px;
  }
  